.activity{
  display: flex;
  flex-direction: column;
  >img{
    border-radius: 1rem;
  }
  >img:hover{
    width: 163px;
    height: 103px;
  }
  >span{
    color: #2B261D;
    font-size: 1.2rem;
    font-weight: 500;
  }
}