.dropDown {
  padding: 1.5rem;
  background-color: var(--widget-bg-color);
  color: var(--font-color);
  font-size: 1.8rem;
  border-radius: 0.5rem;

  > p {
    border-bottom: 0.5px solid #D69E36;
    text-align: center;
  }

  > p:hover {
    color: #fff;
    font-size: 2rem;
  }

  > p:last-child {
    border-bottom: 0 none;
  }
}

.hidden{
  display: none;
}

