.navbarWidget {
  border-radius: 4rem;
  max-width: 10rem;
  background-color: var(--widget-bg-color);

  @media screen and (max-width: 430px) {
   display: none;
  }
}

.img {
  padding: 2rem;
}

.elementsBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.2rem;
}

.element {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  > .span {
    font-size: 1.4rem;
    font-weight: 600;
  }
}