.main {
  margin: 0 auto;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem 3rem 2rem ;
  @media screen and (max-width: 430px) {
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
  }
}
.header {
  position: relative;
  padding: 4rem 9rem 0 9rem;
  color: var(--font-color);
  @media screen and (max-width: 430px) {
    padding: 15rem 3.2rem 3.2rem 3.2rem;
  }
}

.location {
  display: flex;
  flex-direction: row;
  gap:1rem;
  position: absolute;
  top: 3.8rem;
  left: 9rem;
  padding-bottom: 4.4rem;

  @media screen and (max-width: 430px) {
    top: 4rem;
    left: 3.3rem;
    > .city {
      font-size: 2rem;
    }
  }
}
.btnToggle{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--font-color)
}

.navbarWidget {
  position: absolute;
  top: 3.8rem;
  right: 3.2rem;
  @media screen and (min-width: 431px) {
    display: none;
  }
}

.weatherState {
  position: absolute;
  top: 8rem;
  font-size: 4.8rem;
  @media screen and (max-width: 430px) {
    top: 12rem;
    font-size: 2.4rem;
    left: 16rem;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  padding-top: 14rem;

  > .temp {
    font-size: 6.4rem;
  }

  > .dateInfo {
    font-size: 1.8rem;
  }

  @media screen and (max-width: 430px) {
    padding-top: 0;
  }
}

.imgInfoBlock {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: flex-start;
  @media screen and (max-width: 430px) {
    flex-direction: column;
    align-items: center;
  }

}

.imgBlock {
  width: 321px;
  height: 254px;
  @media screen and (max-width: 430px) {
    width: 200px;
    height: 200px;
  }
}