.main {
  margin: 0 auto;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem 3rem 2rem ;
  @media screen and (max-width: 430px) {
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
  }
}